.nav-fill .nav-item {
    text-align: left !important;
    flex: none !important;
}

.nav-underline {
    justify-content: space-between !important;
}

.nav-underline>.nav-item>a {
    color: var(--colour1) !important;
}

svg {
   margin-right: 5px !important; 
}