footer {
    text-align: center !important;
    background: var(--colour1) !important;
    color: var(--colour2) !important;
    height: auto !important;
    padding: 10px !important;
}

footer .card {
    background: none !important;
    color: var(--colour2) !important;
}

/* card 1 button */
.btn-primary {
    background-color: var(--colour3) !important;
    border: var(--colour3) !important;
    border-radius: 0 !important;
    margin-left: 30px !important;
    position: relative !important;
    bottom: -180px !important;
    --bs-btn-active-color: var(--colour3) !important;
    --bs-btn-active-bg: var(--colour2) !important;
    --bs-btn-active-border-color: var(--colour2) !important;
}

footer .btn {
    position: relative !important;
    top: 20px !important;
    margin: 0px !important;
}

/* card 2 list group items */
footer .list-group-item {
    background: none !important;
    border: none !important;
}

footer .list-group-item a {
    text-decoration: none !important;
    color: var(--colour2) !important;
}

footer .list-group-item a:hover {
    border-bottom: solid var(--colour2) 2px !important;
}

@media only screen and (max-width: 992px) {
    footer .btn {
        display:inline-block !important;
    }
  }