
/*-------------------------------------*/
/* footer */
footer {
    text-align: center;
    background: var(--colour1);
    color: var(--colour2);
    height: auto;
    padding: 10px;
}

footer .card {
    background: none;
    color: var(--colour2);
}

/* card 1 button */
footer .btn {
    position: relative;
    top: 20px;
    margin: 0px;
}

/* card 2 list group items */
footer .list-group-item {
    background: none;
    border: none;
}

footer .list-group-item a {
    text-decoration: none;
    color: var(--colour2);
}

footer .list-group-item a:hover {
    border-bottom: solid var(--colour2) 2px;
}