/*-------------------------------------*/
/* hero */
/* hero image */
.hero {
    background-image: url(../assets/images/02-hero-bg.jpg);
    background-size: cover !important;
    background-position: right !important;
    height: 40vh !important;
    min-height: 500px !important;
}

/* hero text 'Minhui Liu' */
.hero h1{
    color: var(--colour2) !important;
    font-size: 30px !important;
    margin-left: 30px !important;
    position: relative !important;
    bottom: -180px !important;
    display: block !important;
}

/* hero text 'font end developer' */
.hero p {
    color: var(--colour2) !important;
    margin-left: 30px !important;
    position: relative !important;
    bottom: -180px !important;
    display: block !important;
}

/*-------------------------------------*/
/* Main content section */
/* general */
.allContent {
    width: 95% !important;
}

.secTitleContain {
    text-align: right !important;
    padding-right: 50px !important;
}

.section-block {
    border-left: solid var(--colour1) !important;
    margin: 20px 0px 20px 0px !important;
}

.card {
    padding: 10px !important;
    border: none !important;
}

/* Add scroll margin to avoid header covering part of the section, reference link in README */
#work, #skills, #about-contact, #horiseon, #prework, #mini, #demo, #portfolio {
    scroll-margin-top: 5rem !important;
} 

/* About section */
.nav-fill .nav-item {
    text-align: left !important;
    flex: none !important;
}

.nav-underline {
    justify-content: space-between !important;
}

.nav-underline>.nav-item>a {
    color: var(--colour1) !important;
}
